@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
{
    font-family: "Barlow",sans-serif;
    line-height: 1.7;
    color:#516171;    
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700 !important;
    color: #092032;
}
a{
    color: #092032;
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 800;
}
img
{
    width: 100%;
    
}
.bg-cover
{
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;
}
.intro
{
    margin-bottom: 40px;

}
.intro h6
{
  font-weight: 400;
  color: #ff4d29;
}
.intro p{
    max-width: 1000px;
    margin:auto;
    font-weight: 400;
    font-size: 25px;
}
/* Navbar */
.top-nav
{
    background-color:#3c8dbc;
    padding-top: 5px;
    padding-bottom: 5px;
}
.top-nav p{
    margin-bottom: 0;
    display: inline;
    margin-right: 16px;
    color: #fff;
}
.top-nav i,
.top-nav span
{
    vertical-align: middle;
}
.social-links a{
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    border-radius: 100%;
    
}
.social-links a:hover
{
    background-color: #fff;
    color: #3c8dbc;
}
.logo
{
    height: 75px;
    width: 80px;
    
}
.navbar
{
    box-shadow: 0px 6px 30px rgba(0,0,0,0.08);
}
.navbar .navbar-nav .nav-link:hover
{
    color: #3c8dbc !important;
}
 .navbar .navbar-nav  .nav-link.active
{
   color:  #3c8dbc!important;
}

.navbar-brand{
    font-weight: 700;
    font-size: 26px;
    color: #092032;

}
.navbar-brand span
{
    color:#3c8dbc;
}
/* Button */

 .btn-brand
{
    background-color: #3c8dbc;
    color: #fff;
    border-color: #3c8dbc;
    box-shadow: none !important;
    
}

.btn-brand:hover
{
    color: #fff;
    background-color:#2b83b7;
    box-shadow: none !important;
    
}
/* slider */
.custom-height {
    height: 800px; /* or any value you prefer */
    
}
.slide1
{   
    background:linear-gradient(rgba(9,32,50,0.4),rgba(9,32,50,0.4)),url("../images/homeimage.jpg") ;
    
}
.slide2
{
    background:linear-gradient(rgba(9,32,50,0.4),rgba(9,32,50,0.4)),url("../images/igntuGate.png") ;
}


.slide3
{
    background:linear-gradient(rgba(9,32,50,0.4),rgba(9,32,50,0.4)),url("../images/no1.jpg") ;
}

.slide4
{
    background:linear-gradient(rgba(9,32,50,0.4),rgba(9,32,50,0.4)),url("../images/igntucampus.png") ;
}

.slide5
{
    background:linear-gradient(rgba(9,32,50,0.4),rgba(9,32,50,0.4)),url("../images/no2.jpg") ;
}



/* all crousel */
.owl-prev,
.owl-next{
    position: absolute;
    top: 50%;
    width: 60px !important;
    height: 60px !important;
    display: grid;
    place-items:center;
    background-color: rgba(255, 255, 255, 0.2) !important;
    font-size: -30px !important;
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    border-radius: 100px !important;
    
}
.owl-prev
{
    left: 0;
}
.owl-next
{
    right: 0;
}
.owl-prev:hover,
.owl-next:hover{
    background-color: #3c8dbc !important;
}
.wellc
{
    
    background: #3c8dbc;
    width:100%;
}
.info-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .info-box {
    text-align: center;
  }

  .circle {
    width: 100px;
    height: 100px;
    background-color: #222;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border: 3px solid white;
    box-shadow: 0 0 5px #ccc;
    margin: 0 auto 10px;
  }

  .label {
    font-weight: 600;
    color: #333;
    font-size: 14px;
  }

  .underline {
    width: 100px;
    height: 3px;
    background-color:#3c8dbc; /* Teal color */
    margin: 0 auto;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 100px;
  }
  
  .myhover 
  {
    color:#3c8dbc;
  }

  .myhover:hover
  {
    color:black;
  }
.clickhere 
{
  color:#3c8dbc;
  font-size: 22px;
}

.team {
    padding: 40px 0;
  }


.team .member {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  .team .teampic img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    
  }

.team .member .member-info
{
    padding-left: 30px;
}
.team .member h4
{
    font-weight: 1200;
    margin-bottom: 5px;
    font-size: 20px;
    color:#3c8dbc;
}
.team .member span
{
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 700;
    color: black;
    font-size: 20px;
}
.team .member span::after
{
    content: "";
    position:absolute;
    display:block;
    width: 50px;
    height: 2px;
    background:#3c8dbc;
    bottom: 0;
    left: 0;
}
.team .member p
{
    margin: 10px 0 0 0;
    font-size: 20px;
    color:black;
    font-weight: 700;
}
.img-circle.team-img {
    width: 150px;
    height: 150px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    transition: 0.5s;
    border-radius: 50%;
}




  /* MEDIA QUERY FOR SMALL DEVICES */
  @media (max-width: 768px) 
  {
    .team .member {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .team .teampic {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 15px;
    }
  
    .team .member-info {
      align-items: center;
      
    }
    .team .member span::after
    {
        left: 50%;
        transform: translateX(-50%);
    }
    .team .teampic img {
        width: 100px;
        height: 100px;
        margin: 0;
      }
      .custom-height {
        height: 300px; /* or any value you prefer */
        width: 100%;
        
    }
     .btn-brand
     {
        align-items: center;
        font-size: 10px;
        margin-bottom: 20px;
     }
     .fontsize
     {
        font-size: 20px;
     }
     .fontsize1
     {
        font-size: 10px;
     }
     .social-links
     {
        padding-left: 110px;
        
     }

  }

  @media (max-width: 576px) 
  {
    .team {
      padding: 20px 10px;
    }
  
    .member {
      margin-bottom: 15px;
    }
        .team .member {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
  }
  .custom-alert
  {
    position: fixed;
    top:25px;
    right: 25px;
  }

  